<!-- Generate a full HTML page with an image in the body and a caption -->
<!doctype html>
<html>
  <head>
    <title>Seal of the Day</title>
  </head>
  <body>
    <img src="{{image}}" />
    <p>{{caption}}</p>
  </body>
</html>